<html xmlns:th="http://www.thymeleaf.org">
<div class="page-header-menu" th:fragment="page_header_menu">
    <div class="container">
            <!-- BEGIN HEADER SEARCH BOX -->
            <form class="search-form" action="extra_search.html" method="GET">
                <div class="input-group">
                    <input class="form-control" placeholder="Search" name="query"/>
                    <span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu ">
                <ul class="nav navbar-nav" id="">
                    <li th:class="${currentVisitor.moduleName == 'home'} ? 'active' : ''">
                        <a th:href="|${session.homePath}|">Home</a>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown" th:each="module : ${session.sidebarDTO.modules}">
                        <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown">
                            <span th:text="${module.name}" class="menu"></span><i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li th:class="dropdown-submenu">
                                <a th:href="|${#strings.concat(session.ctx,module.name)}|">
                                    <i th:class="icon-compass"></i>
                                    <span>index</span>
                                </a>
                            </li>
                            <li class="dropdown-submenu" th:each="menu : ${module.menus}">
                                <a th:href="${menu.url}">
                                    <i th:class="${menu.icon}"></i>
                                    <span th:text="${menu.name}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
</div>
</html>